# Specific files to ignore
../Capture d'écran 2025-03-24 162604.png
../Capture d'écran 2025-03-24 162626.png
../Desktop.ini
../Processus Git Bash.txt
../info.txt

# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE specific files
.vscode/
.idea/
*.swp
*.swo