# Ignore all files in the current directory level except To-Do-List-App-dmd
!To-Do-List-App-dmd/
*

# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE specific files
.vscode/
.idea/
*.swp
*.swo